<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <connectionStrings>
    <add name="sql" connectionString="Data Source=RADIATOR\SQLEXPRESS;Initial Catalog=DBAiS;Integrated Security=True"/>
    <add name="sqlce" connectionString="Data Source=D:\Data\Development\Visual Studio\Projects\Zadania\Academic Information System\database.sdf;Persist Security Info=False"/>
  </connectionStrings>
  <appSettings>
    <add key="useSql" value="false"/>
  </appSettings>
</configuration>
